{% extends 'base.html.twig' %}

{% block title %} Twoja lista zadań {% endblock %}


{% block body %}
    <div class="header">
        <h2>Moja lista zadań</h2>
        <form method="post" action="{{ path('create_task') }}">
            <input name="title" type="text" id="myInput" placeholder="Nazwa zadania..." />
            <button type="submit" class="addBtn">Dodaj zadanie</button>
        </form>
    </div>

    <ul>
        {% for task in tasks %}
            <li {% if task.status %} class="checked" {% endif %}>
                <a href="{{ path('update_task',{'id': task.id  }) }}"> <span class="task-list-item"> {{ task.title }}</span> </a
                ><a onclick="return confirm('Czy na pewno usunąć zadanie?')" href="{{ path('delete_task', {'id': task.id  }) }}"><span class="close">X</span></a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}